.Header {
  background: #663399;
  color: white;
  border-bottom: 3px solid white;
  box-shadow: 0 16px 0 black;
  margin: 50px;
}

.Header__body {
  display: flex;
  align-items: center;
}

.Header__summary {
  text-decoration: none;
  color: white;
  text-align: center;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.Header__summary__line {
  font-size: 0.8em;
}

